---
---

// Typography
$body-font: 'Source Code Pro', monospace;
$base-font-size: 16px;

// Colors
$primary-color: #ff9900;
$secondary-color: #ff9900;
$background-color: #FFF;
$font-color: #2e95a5;

// Screen size for responsiveness
$small-screen: 400px;
$mid-screen: 768px;
$large-screen: 1024px;

@import './reset';
@import './global';
@import './header';
@import './footer';
@import './home';
@import './post';
@import './blog';
